<div>
    <image height="500" width="700" src="https://media.giphy.com/media/RFDXes97gboYg/giphy.gif"></image>
</div>
<div>
    <h2><%= errorid %> : Contact support with this id</h2>
</div>
<div>
    <a href="/">Go Back and Try again ?</a>
</div>