<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <div class="row">
            <div class="col-md-2">
                <a href="/#/">
                    <img class="pull-left" role="presentation" width="150" height="80" style="padding-bottom:20px;" alt=""
                         src="http://i.imgur.com/7MsuS7J.gif" id="gh-logo">
                </a>

            </div>
            <br>
            <div class="col-md-7">
                <div class="input-group">
                    <input type="hidden" name="search_param" value="name" id="search_param">
                    <input type="text" class="form-control" name="q" placeholder="Search.." id="search_key" value="">
                    <div class="input-group-addon">
                        <select class="searchDropdown">
                            <option>All Categories</option>
                            <option>Books</option>
                            <option>Computers</option>
                            <option>Electronics</option>
                            <option>Health</option>
                            <option>Travel</option>
                        </select>

                    </div>
                    <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">  Search  </button>
          </span>
                </div>
            </div>
        </div>
    </div>

</div>